.top {
  background-image: url("../../images/top-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    position: relative;
    min-height: 700px;  
    padding: 30px 0;

    @media (max-width:1200px) {
      min-height: 530px;
    }

    @media (max-width: 767px) {
      min-height: 425px;
    }
  }

  &__title {
    font-family: "Georgia";
    font-style: italic;
    font-size: 72px;
    line-height: 120%;
    text-align: center;
    color: #61098b;

    @media (max-width:1200px) {
      font-size: 64px;
    }

    @media (max-width: 767px) {
      font-size: 48px;
    }
  }

  &__text {
    font-family: "Adventure", sans-serif;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #cd008d;

    @media (max-width:1200px) {
      font-size: 36px;
    }

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  &__label {
    position: absolute;
    z-index: 1;
    right: -170px;
    bottom: 276px;
    text-align: center;

    @media (max-width: 1600px) {
      right: 0;
    }

    @media (max-width:1200px) {
      position: static;
      margin-top: 50px;
      margin-left: 40px;
    }
  }

  &__label-name {
    font-size: 24px;
    line-height: 28px;
    color: #333333;
  }

  &__label-text {
    font-family: "Adventure", sans-serif;
    font-size: 64px;
    line-height: 77px;
    color: #fe4699;

    @media (max-width:1200px) {
      font-size: 48px;
      line-height: 58px;
    }

    @media (max-width: 767px) {
      font-size: 36px;
      line-height: 43px;
    }
  }
}
